/* 스크롤바 설정*/
.scroll-box::-webkit-scrollbar{
    height: 10px;
}

/* 스크롤바 막대 설정*/
.scroll-box::-webkit-scrollbar-thumb{
    width: 30%;
    background-color: #f5cac3;
    border-radius: 10px;  
}

/* 스크롤바 뒷 배경 설정*/
.scroll-box::-webkit-scrollbar-track{
    background-color: #fae1dd;
}